<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center mb-4 "> TERMS & CONDITIONS </h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
       
       
        <p>Please read these Terms and Conditions carefully before using this website and the mobile application (the Blog4U) operated by Our Organization (Happy Life Makers).</p>
        <p>Please feel free to subsribe, we don't use your datas for forwarding other bussinesses or for using bussiness goals. We don't do that. We will use your data for contact purposes. </p>
        <p>Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material ("Content"). You are responsible for the content of your comments, but we can delete if you ofends other peoples honor. So please avoid foul speech and derogatory statements.</p>
        <p>Thank you for your cooperation!</p>

        <small class="text-danger mb-5 pb-5">Last updated: July 02, 2023</small>
        <div class="text-center">
            <button class="btn btn-info btn-md mt-4">Back to Home</button>
        </div>
    
    </div>
    </div>
    </section>
