<section class="mt-5" >
<div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center mb-4 "> ABOUT US</h1>
<div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
   
    <p>I want to change people's thoughts about life. Because they don't see how beautiful this World is, so am I sometimes. Sometimes I feel sad about things too, but when comes the bad idea what makes me sorrowful, I write something nice. </p>
    <p>This webpage is about that. I want put a smile on other people's faces... so enjoy your time here! My friends and I will do everything to make you feel good.</p>
    <p>I hope you come back, and read all of our articles.</p>
    <p>“When I sit down to write a book, I do not say to myself, ‘I am going to produce a work of art.’ I write it because there is some lie that I want to expose, some fact to which I want to draw attention, and my initial concern is to get a hearing.” - George Orwell</p>

    <div class="text-center">
        <button class="btn btn-info btn-md mt-4 ">Back to Home</button>
    </div>

</div>
</div>
</section>