.card, .form-group {
    border: none;
    box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3);
}


input[type = text]{
    height: 60px;
    padding-left: 20px;
    font-size: 15px;
    width: 100%;   
    box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3);
}

input:focus{
    background-color: var(--secondary-color);
}

textarea:focus{
    background-color: var(--secondary-color);
}
.btn-sub{
    height: 58px;
    border: none;
    font-size: 13px;
    background: var(--primary-color);
    color: white;
    width: 150px;
    
}